.mainTask {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 91px;
}

.mainContentTask {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headerTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 736px;

    padding-top: 12px;
    margin-bottom: 40px;
}

.formTask {
    display: flex;
    justify-content: center;
    gap: 8px;

    position: absolute;
    width: 736px;
    height: 54px;
    left: calc(50% - 736px/2);
    top: 173px;
}

.formTask textarea {
    background: var(--gray-500);
    resize: none;

    border: 0;
    border-radius: 5px;

    width: 638px;
    height: 54px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--gray-100);
}

.formTask button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;

    background: var(--blue-dark);
    width: 90px;
    height: 52px;

    border-radius: 8px;

    border: 0;

    color: var(--gray-100);

    display: flex;
    align-items: center;
    justify-content: center;
}

.tasksBox {
    display: flex;
}

.createdTasks {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: var(--blue);

    margin-right: 8px;
}

.doneTasks {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: var(--purple);

    margin-right: 8px;
}

.tasksCounter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    width: 25px;
    height: 19px;

    background: var(--gray-400);

    border-radius: 999px;

    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 641px) {

    .headerTask {
        width: auto;
    }

    .formTask textarea {
        width: auto;
    }


    .headerTask {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

}