.mainTask{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 91px;
}

.headerTask{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 12px;
    margin-bottom: 40px;
}

.formTask{
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 736px;
    height: 54px;
    left: calc(50% - 736px/2);
    top: 173px;
}

.formTask textarea{
    background: var(--gray-500);
    resize: none;

    border: 0;
    border-radius: 5px;

    width: 638px;
    height: 54px;
}

.formTask button{
    background: var(--blue-dark);
    width: 90px;
    height: 52px;

    border-radius: 8px;

    border: 0;

    color: var(--gray-100)
}

.createdTasks{
    width: 106px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: var(--blue);

}

.doneTasks{
    width: 78px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: var(--purple);

}



